**/.git
**/node_modules

public/
styles/
.next/

lib/utils.ts
components/ui/

.eslintrc.json
.gitignore
.prettierignore
.prettierrc.json
next-env.d.ts
next.config.js
package.json
pnpm-lock.yaml
postcss.config.js
README.md
tailwind.config.ts
tsconfig.json
